[Unit]
Description=Solana TdS node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
LimitNOFILE=1024000
Environment="SOLANA_METRICS_CONFIG='host=https://metrics.solana.com:8086,db=tds,u=tds_writer,p=dry_run'"
Environment="KNOWN_VALIDATOR1=3K8BYGTPD9AxqYQDPdU8PPy6AfiSwf4hDmFy1xXGB8Ns"
Environment="KNOWN_VALIDATOR2=5dB4Ygb8Sf3Sssdxxrpbb4NFX9bMrYnieiz11Vr5xJkJ"
Environment="KNOWN_VALIDATOR3=7TcmJn12spW6KQJp4fvvo45d1hpxS8EnLjKMxihtNZ1V"
Environment="KNOWN_VALIDATOR4=4jhyvbBHbsRDF6och7pDQ7ahYTUr7wNkAYJTLLuMUtku"
Environment="BANK_HASH=E3MJucWkWkugqJ8ewHAkDWuCN6uDxEychwjFFCwJ16ic"
Environment="GENESIS_HASH=4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY"
Environment="ENTRYPOINT=entrypoint.testnet.solana.com:8001"
Environment="SHRED=50850"
Environment="SUPERMAJORITY=95038710"
ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
--wait-for-supermajority ${SUPERMAJORITY} \
--expected-bank-hash ${BANK_HASH} \
--expected-shred-version ${SHRED} \
--entrypoint ${ENTRYPOINT} \
--expected-genesis-hash ${GENESIS_HASH} \
--known-validator ${KNOWN_VALIDATOR1} \
--known-validator ${KNOWN_VALIDATOR2} \
--known-validator ${KNOWN_VALIDATOR3} \
--known-validator ${KNOWN_VALIDATOR4} \
--no-untrusted-rpc \
--limit-ledger-size 50000000 \
--identity /root/solana/validator-keypair.json \
--vote-account /root/solana/vote-account-keypair.json \
--ledger /root/solana/validator-ledger \
--rpc-port 8899 \
--rpc-bind-address 127.0.0.1 \
--log - \
--accounts-db-caching-enabled \
--no-snapshot-fetch \
--no-genesis-fetch

[Install]
WantedBy=multi-user.target
